{% load i18n %}

{# Add form #}
{% with widget_form as form %}
<form style="display:none;" 
    class="popup-form frontend-admin-form form-vertical" 
    method="post"
    action="{% url 'widget_list' %}" id="widget-form"
    {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    <fieldset id="widget-list" style="border:none;">
        {% for field in form %}
            <p{% if field.is_hidden %} style="display:none;"{% endif %}>
                {{ field.label_tag }}<br />{{ field }}{{ field.errors }}
                {% if field.help_text %}
                <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
            </p>
        {% endfor %}
    </fieldset>
    <fieldset id="widget-options" style="display:none;border:none;" >
    <legend >Configure this Widget</legend>
    <div class="options">{{ options }}</div>
    </fieldset>
    <input type="button" name="close" value="{% trans "Close" %}" class="btn" />
    <input type="submit" style="display:none;" name="back" value="{% trans "Back" %}" class="btn" />
    <input type="submit" name="do" value="{% trans "Choose" %}" class="btn btn-success" />
</form>
{% endwith %}

{# Edit Form #}
<div id="edit_form">
    <form style="display:none;" 
        class="popup-form frontend-admin-form form-vertical" 
        method="post"
        id="edit-widget-form">
        {% csrf_token %}
        <fieldset id="widget-options">
            <legend >Configure this Widget</legend>
            <div class="options"></div>
        </fieldset>
        <input type="submit" name="submit" value="{% trans "Save" %}" class="btn" />
        <input type="button" name="close" value="{% trans "Close" %}" class="btn" />
    </form>
</div>