{% load pages_tags mezzanine_tags widget_tags i18n %}
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

{% if "mezzanine.blog"|is_installed %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url blog_post_feed "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url blog_post_feed "atom" %}">
{% endif %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
{% if "cartridge.shop"|is_installed %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
{% endif %}
<script src="{{ STATIC_URL }}mezzanine/js/jquery-1.7.1.min.js"></script>
<script>
$(function() {
    $('.middleinput:text, textarea').addClass('xlarge');
    $('.control-group label').addClass('control-label');
});
</script>

{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}{% endblock %}">

<div class="navbar">
<div class="navbar-inner">
<div class="container">
    {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="tagline">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    <form action="{% url search %}" class="navbar-search pull-right">
    <input class="search-query" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}">
    </form>
    {% page_menu "pages/menus/primary.html" %}
</div>
</div>
</div>

<div class="container">

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>

<div class="container">
<div class="row">

<div class="span2 left">
    <div class="panel">{% page_menu "pages/menus/tree.html" %}</div>
</div>

<div class="span7 middle">
    {% render_widgets "main" %}
    {% block main %}{% endblock %}
</div>

<div class="span3 right">
    {% include "includes/user_panel.html" %}
    <div class="panel">
    {% block right_panel %}
    {% render_widgets "right" %}
    {% endblock %}
    </div>
</div>

</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}
<br clear="all">
<p>
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% if "cartridge.shop"|is_installed %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endif %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    Theme by <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
    {% if "mezzanine.mobile"|is_installed %}
    <span class="separator">|</span>
    <a href="{% url set_device "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endif %}
</p>
</div>
</footer>

{% include "includes/footer_scripts.html" %}
{% widget_loader %}
</body>
</html>
